$color_1: rgb(14, 1, 1);
$color_2: rgb(34, 15, 116);
$color_3: black;
$color_4: rgb(5, 5, 5);
$color_5: rgb(1, 11, 20);
$font-family_1: "Poppins", sans-serif;
$font-family_2: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
$font-family_3: inherit;
$background-color_1: blue;
$background-color_2: grey;
$background-color_3: green;
$background-color_4: lightcoral;
$background-color_5: yellow;
$background-color_6: aqua;
$background-color_7: aliceblue;
$background-color_8: rgba(198, 181, 236, 0.959);
$background-color_9: rgb(194, 66, 226);
$background-color_10: rgb(198, 157, 226);
$background-color_11: rgb(162, 158, 167);
$background-color_12: rgb(209, 121, 226);
$background-color_13: rgb(213, 130, 238);
$background-color_14: rgb(213, 191, 235);
$background-color_15: goldenrod;
