@import "variables";

html{
    font-size: 100%;
}
*{
    margin: 0px;
    padding: 0px;
}
.btn{
  
    border:solid 1px black;
    
}
.btn-primary{
    @extend .btn;
    background-color: $background-color_10;
}
.btn-secondary{
    @extend .btn;
    background-color:$background-color_2;
}
.btn-succsess{
    @extend .btn;
    background-color: $background-color_3;
}
.btn-danger{
    @extend .btn;
    background-color: $background-color_4;
}
.btn-warning{
    @extend .btn;
    background-color: $background-color_5;
}
.btn-info{
    @extend .btn;
    background-color: $background-color_6;
}
.btn-ligth{
    @extend .btn;
    background-color:$background-color_7;
}
@mixin flex-row-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.newbox{
    @include flex-row-center;
}
body{ 
    font-family: $font-family_1; 
    background-color: $background-color_10;
    width: 100vw;
    
.bodyPastillero{
        width: 100%;
    }
    .container-fluid{
        background-color: $background-color_14;
    }
}
.fondo{

    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 0px;
    position: center;
    grid-area: header;
    justify-content: center;
    background-color: transparent;
    .row{
        display:flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: normal;
        justify-content: center;
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
    }
      
}
a{ &:arriba{
	.carrousel-slides {
		width: 100%;
		height: 60%;
	}
}
}
h1{ 
    font-size: 50px;
    font-weight:600; 
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    right: 0px;
    left: 0px;
}
h2{
    text-align: center;
    top: 50px;
    width: 100%;
    left: 0px;
    right: 0px;
    
}
.letraAzul{
    font-size: 50px;
    font-size: 50px;

}
.letraRoja{ color: $color_1;
}
.cabeza{
    justify-content: center;
    
}
.mainpastillero{
    background-color: $background-color_10;
    color: $color_2;
    grid-area: main;
    display:flex;
    align-content: center;
    background:linear-gradient($background-color_10,rgb(248, 239, 248));
    .row{
        justify-content: space-between;
        flex-direction: row;
        align-items: normal;
        justify-content: center;
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
    }
    .carousel-item{
        height: 60%;
    }
    }
h5{
        color: $color_5;
        font-weight: 900;
    }
.tamanio{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;  
        
    }
.icon{
        width: 15%;    
    }
h3{
    color: $color_4; 
    text-align: center;
    margin: 40px 40px 20px 40px;
    font-weight:400;
    font-size: 2rem;
    font-style: oblique;
    .tituloprincipal{ display:none;                 
    }
}
h4{
    color: $color_2;
    font-size: 20px;
    font-style: italic;
}
p{
    color: $color_5; 
    font-family: $font-family_2;
    font-weight:400;
    font-style: italic;
    width:100%;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
 }
 .posicion{
    justify-content: center;
    width: 60%;
    margin-left: 250px;
    margin-top: 0px;
    
}
.tamanio1{
    padding:50px 50px;
    display: inline;
    position: absolute;
    align-items: center;
    top: auto;
    right: 100px;
    bottom: auto;
    left: 5px;
}
 ul{
     li{
    display: inline-flex;
    flex-direction: row;
    position: relative;
    justify-content: baseline;
    top: 0px;
    bottom: 20px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    font-family: $font-family_2;
    font-size: 1rem;
    font-weight: 600;
    padding: 5px 5px; 
    &:hover{
        background: rgba(231, 238, 127, 0.945);
    } 
}
}
.menu{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 100%;
    background-color: $background-color_10;
    margin-top: 0px;    
}
.text{ 
    position:static;
    bottom: 200px;
    text-align: center;
    align-items: center;
    
    

    .input{ margin:30px;
            font-family: $font-family_3;
            line-height: inherit;
            margin-top: 10px;
            margin-right: 40px;
            margin-bottom: 10px;
            margin-left: 30px;
}
    .card{
        background-color: $background-color_1;
    }

}
.footer{
    grid-area: footer;
    background-color: $background-color_1;
    width: 100%;
    grid-area: footer;
    padding: 0%;
    margin: 0%;
}
.redes{
    position: fixed;
    left: 10px;
    top: 450px;
    img{ width: 50px;
        height: 50px;
    }
}
form{
    display: block;
    position: relative;
    top: 1px;
    left: 0px;
    bottom: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
}
.renglon{
    position:absolute;
    margin:20px;
}

.pais{
    position:relative;
    left: 400px;
    bottom: 250px;
}
.imagenmia{
    width: 50%;
    height:50%;
}

.navbar{
    background-color: $background-color_12;
    padding-top: 0px;
    padding-bottom: 0px;  
    margin-top:0px;
    margin-bottom: 0px;
}



@media screen and (max-width:320px) {
    [class="col-12"] {
        width: 100%;
    }
       
        .bodyPastillero{
            background-color: $background-color_13;
            align-items: center;
            justify-content: center;
        }
        .letraAzul{
            font-size: 35px;
        }
        .letraRoja{
            font-size: 20px;
        }
        .img{
            max-width: 100%;
            height: auto;
            align-items: center;
        }
        .mainpastillero{
            grid-area: main;
            justify-content:center;
            display: block;
            
        }
        ul{
            font-size: 10px;
        }
        
        .cabeza{
            
            justify-content: center;
            width: 60%;
            height: 60%;
            align-items: center;
            
        }
        .foto{
            margin-left: 30px;
        }
        
        .redes img{
            width: 20px;
            height: 20px ;  
        }
        .posicion{
            justify-content: center;
            width: 60%;
            height: 60%;
            margin-left: 100px;
            margin-right: 100px;
        }
        
        .navbar-toggler-icon{
            background-color: $background-color_7;
            margin-right: 10px ;
        }
        .navbar-collapse{
            background-color: $background-color_15;
            width: fit-content;
            border-radius: 20px;
        }           
    
        .navbar-nav .dropdown-menu {
             position: absolute;
             width: min-content;
            
            }
        .dropdown-item{
                font-size: 15px;
            }
        .nav-item{
                font-size: 15px;
            } 
       
}
@media screen and (max-width:500px) {
    [class="col-12"] {
        width: 100%;
    }  
        
        .bodyPastillero{
            background-color: $background-color_13;
            align-items: center;
            justify-content: center;
        }
        .letraAzul{
            font-size: 35px;
        }
        .letraRoja{
            font-size: 20px;
        }
        .img{
            max-width: 100%;
            height: auto;
            align-items: center;
        }
        .mainpastillero{
            grid-area: main;
            justify-content:center;
            display: block;
            
        }
        ul{
            font-size: 10px;
        }
        
        .cabeza{
    
            justify-content: center;
            width: 60%;
            height: 60%;
            align-items: center;
            margin-left: 30px;
            
        }
        .redes img{
            width: 20px;
            height: 20px ;  
        }
        .posicion{
            justify-content: center;
            width: 60%;
            height: 60%;
            margin-left: 100px;
            margin-right: 100px;
        }
        
        .navbar-toggler-icon{
            background-color: $background-color_7;
            margin-right: 10px ;
        }
        .navbar-collapse{
            background-color: $background-color_15;
            width: fit-content;
            border-radius: 10px;
        }           
    
        .navbar-nav .dropdown-menu{
             position: absolute;
             width:min-content;
             padding-right: 0px;
             margin-right: 10px;
             font-size: 15px;
            }
        .dropdown-item{
            font-size: 15px;
        }
        .nav-item{
            font-size: 15px;
        } 
        
          
}   
@media screen and (max-width: 768px) {
    [class="col-12"] {
        width: 100%;}  
        .bodyPastillero{
            background-color:  $background-color_14;
            align-items: center;
            justify-content: center;
        }
        .letraAzul{
            font-size: 35px;
        }
        .letraRoja{
            font-size: 20px;
        }
        .column{
            text-align: center;
            margin-left: 250px;
        }
        .img{
            max-width: 100%;
            height: auto;
            align-items: center;
        }
        .mainpastillero{
            grid-area: main;
            justify-content:center;
            display: block;
            
        }
        ul{
            font-size: 10px;
        }
        .cabeza{
            display:none;
            justify-content: center;
            width:fit-content;
            height: fit-content;
            align-items: center;
            margin-left: 30px;

        }
        .foto{
            display: flex;
            justify-content: center;
            width:fit-content;
            height: fit-content;
            margin-right: 100px;
        }
        .redes img{
            width: 20px;
            height: 20px ;  
        }
        .posicion{
            justify-content: center;
            width: 80%;
            margin-left: 120px;
             
            }
            .navbar-toggler-icon{
                background-color: $background-color_7;
                margin-right: 10px ;
            }
            .navbar-collapse{
                background-color: $background-color_15;
                width: min-content;
                border-radius: 10px;
                display:block;
            }
           
                      
            .navbar-nav{
                text-align: center;
                flex-direction: column;
            }
            .dropdown-menu {
                 position: absolute;
                width: min-content;
                } 
            
             }
            

    







